

<div class="card bg-dark text-white mb-3">
    <img
        src="https://media.revistagq.com/photos/5d15d8da274222b14be3327b/16:9/w_2560%2Cc_limit/gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg"
        class="card-img" alt="...">
    <div class="card-img-overlay">
        
    </div>
</div>


<div class="container  py-3 mb-5">
    <h5 class="fs-2 text-center mb-3">Productos de excelente calidad</h5>

    <div class="card-group mb-3">
        <div class="card">
            <img src="https://http2.mlstatic.com/D_Q_NP_669908-MCO44708353011_012021-AB.webp" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gafas de natacion</h5>
                <p class="card-text">Gafas de natacion junior.</p>
                <p class="card-text"><small class="text-muted">$ 50000
                        </small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://m.media-amazon.com/images/I/71QPMxFozcL._AC_SY355_.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Set acuatico</h5>
                <p class="card-text">Tablas flotadoras en diversos colores.</p>
                <p class="card-text"><small class="text-muted">$ 15000</small></p>
            </div>
        </div>
        <div class="card">
            <img src="https://ss201.liverpool.com.mx/xl/1015625089.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Aletas Ajustables</h5>
                <p class="card-text">Aletas tallas S M gris.</p>
                <p class="card-text"><small class="text-muted">$ 120000
                        </small></p>
            </div>
        </div>
    </div>
</div>